<div class="h-full" id="container">
  <mat-stepper
    [linear]="true"
    #stepper
    class="disable-header-navigation"
    style="--mat-sys-surface: #f0f9ff"
    (selectionChange)="onStepChange($event.selectedIndex)"
  >
    <!-- Paso 1 -->
      <mat-step [editable]="true">
        <ng-template matStepLabel>Especialidad</ng-template>
        <ng-template matStepContent>
          <app-specialty-select/>
        </ng-template>
      </mat-step>
    <!-- Paso 2 -->
    <mat-step [editable]="true">
      <ng-template matStepLabel>Doctor</ng-template>
      <ng-template matStepContent>
        <app-doctor-select />
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </ng-template>
    </mat-step>

    <!-- Paso 3 -->
    <mat-step [editable]="true">
      <ng-template matStepLabel>Confirmar</ng-template>
      <app-confirm />
      <button mat-button matStepperPrevious>Back</button>
    </mat-step>
  </mat-stepper>
</div>
