<div
  class="grid grid-cols-12 gap-4 h-full px-4"
  *ngIf="doctors$ | async as doctors; else loading"
>
  <!-- Columna izquierda: Select de doctores -->
  <div class="col-span-4 mt-10">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Selecciona un doctor</mat-label>
      <mat-select
        [(value)]="selectedDoctor"
        (selectionChange)="onDoctorChange($event.value)"
      >
        <mat-option *ngFor="let doctor of doctors" [value]="doctor">
          {{ doctor.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Columna derecha: Fechas -->
  <div
    class="col-span-8 flex flex-col items-start justify-start text-white text-xl space-y-4 ml-7"
  >
    <p class="text-gray-700 " *ngIf="selectedDoctor; else tip">
      Horarios disponibles
    </p>
    <ng-template #tip>
      <div class="flex w-full text-gray-500 text-md justify-center">
        Selecciona un doctor para ver sus horarios disponibles.
      </div>
    </ng-template>
    <div class="w-full flex" *ngIf="selectedDoctor">
      <div class="flex gap-3 items-center justify-center">
        <mat-form-field appearance="fill">
          <mat-label>Dia de la cita</mat-label>
          <input
            matInput
            [min]="today()"
            [matDatepicker]="dayPicker"
            [(ngModel)]="selectedFilterDay"
            (dateChange)="updateTimeOptions()"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="dayPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #dayPicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <mat-chip-listbox class="mat-mdc-chip-set w-full">
      <div
        *ngFor="let group of groupedDates$ | async; index as index"
        class="w-full mb-2"
      >
        <div class="text-gray-700 ml-3" [ngClass]="{ ' mt-3': index > 0 }">
          {{ group.date | date: "dd 'de' MMMM 'del' YYYY" : "GMT-5" : "es-CO" }}
        </div>
        <div class="flex flex-wrap gap-2 ml-3">
          <div *ngFor="let time of group.times">
            <mat-chip-option [value]="time" (click)="onTimeSelected(time)">
              {{ time | date: "shortTime" }}
            </mat-chip-option>
          </div>
        </div>
      </div>
    </mat-chip-listbox>
    <div  class="text-gray-700 w-full justify-center text-center" *ngIf="noAppointments">Parece que no hay fechas disponibles para este dia</div>
  </div>
</div>

<ng-template #loading>
  <div
    class="flex items-center justify-center mt-20 h-full w-full text-gray-600/50 text-2xl"
  >
    Cargando...
  </div>
</ng-template>

{{ selectedTime }}
