<div class="h-full px-5" id="container">
  <div class="h-full p-5">
    <div class="text-xl mb-5">Hola, ¿qué quieres hacer hoy?</div>
    <mat-tab-group mat-align-tabs="start" mat-stretch-tabs="true">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="mx-2">calendar_month</mat-icon>
          Agendar una cita
        </ng-template>
        <div class="p-3 h-full">
          <app-schedule/>
        </div>
      </mat-tab>

      <mat-tab>
        <div class="w-full">
          <ng-template mat-tab-label>
            <mat-icon class="mx-2">manage_search</mat-icon>
            Consultar mis citas
          </ng-template>
        </div>
        <div class="p-3">
          <app-manage/>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
